/* Estilos CSS */
body {
  margin: 0;
  padding-bottom: 80px; /* Make space for the footer */
}

.h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0;
}

.lower {
  font-size: 1.4rem;
}

button {
  display: flex;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
  padding: 10px 0;
}
