/* Estilos CSS */
.h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0;
}

.lower {
  font-size: 1.4rem;
}

button {
  display: flex;
  text-align: center;
}

footer {
  text-align: center;
  padding: 10px;
  background: rgb(0, 0, 0);
  margin-top: 30px;
  width: 100%;
  color: #fff;
  position: relative;
  bottom: 0%;
}
