/* Garante que o conteúdo ocupe toda a altura da tela */
html,
body {
  height: 100%;
  margin: 0;
}

/* Usando Flexbox para garantir que o footer fique no final */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Faz o footer ficar sempre no final da página */
footer {
  margin-top: auto; /* Empurra o footer para o final da tela */
}

.h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0;
}

.lower {
  font-size: 1.4rem;
}

button {
  display: flex;
  text-align: center;
}
