body {
  margin: 0;
  padding-bottom: 80px; /* Make space for the footer */
}

.h2 {
  font-size: 1.5rem;
  text-align: center;
  margin: 20px 0;
}

.lower {
  font-size: 1.4rem;
}

.horario-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin: 10px 10px;
  margin-top: 20px;
}

.horario-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.horario-item.activity {
  background-color: #4d0f0f;
  color: white;
  transition: background-color 0.3s;
}

.horario-item.activity:hover {
  background-color: #a07a7a;
}

.horario-item b {
  font-weight: bold;
}

.tab-content {
  display: none;
}

#content-ano1 {
  margin-top: 30px;
}

.tab-buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.tab-buttons button {
  margin: 0 10px;
  background-color: rgb(75, 75, 75);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #000;
  color: white;
  text-align: center;
  padding: 10px 0;
}

@media only screen and (max-width: 800px) {
  .horario-container {
    grid-template-columns: repeat(7, auto);
  }
  .horario-item {
    font-size: 12px;
    padding: 10px 10px;
  }
  .horario-item b {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    gap: 5px;
    width: 15px;
    font-size: 12px;
  }
}

@media only screen and (max-width: 550px) {
  main {
    margin-top: 30px;
  }
  .horario-container {
    gap: 5px;
  }

  .lower {
    font-size: 17px;
    transition: all 0.5s ease-in-out;
  }
}
